firebase_admin==6.5.0
langchain==0.3.4
langchain_community==0.3.3
langchain_core==0.3.13
markdownify==0.13.1
numpy>=1.0,<2.0
Pillow>=7.1.0,<11.0
python-dotenv==1.0.1
requests>=2.31,<2.33
streamlit>=1.30,<1.36
streamlit_option_menu==0.3.13
openai==1.40.6
flask
werkzeug
deepl
translate
pillow
img2pdf
reportlab
opencv-python
scikit-image
numpy
pypdf2
pymupdf
pdfminer.six
pdfplumber
transformers
torch
torchvision
datasets
tqdm
fastapi
uvicorn